* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/background.jpg");
    font-family: "Comic Sans MS";
}

h1 {
    text-align: center;
    margin-top: 10px;
}

h2, div {
    text-align: center;
}

.description {
    font-size: 24px;
}

.home-button {
    margin-left: 20px;
    margin-top: 20px;
    background-image: url("../images/wood-texture.jpg");
    background-size: cover;
    height: 60px;
    width: 60px;
    border: 2px solid black;
}

.home-button:hover {
    border-color: lightgray;
    cursor: pointer;
}

.home-button:active {
    border-color: lightgray;
    transform: scale(0.99);
}

.brick-breaker-controls {
    text-align: center;
    font-size: 20px;
}

#brick-breaker-game {
    display: block;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("../images/wood-texture.jpg");
    background-color: white;
}

#brick-breaker-play {
    display: block;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    width: 20%;
    background-image: url("../images/wood-texture.jpg");
    background-size: cover;
    color: white;
    font-size: 20px;
}

#brick-breaker-play:hover {
    border-color: lightgray;
    cursor: pointer;
}

#brick-breaker-play:active {
    transform: scale(0.99);
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

td {
    border: 2px solid black;
    height: 60px;
    width: 60px;
}

.dark-square {
    background-image: url("../images/wood-texture.jpg");
    background-size: cover;
}

.light-square {
    background-image: url("../images/light-wood-texture.jpg");
}

.orange, .apple {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.orange:hover, .apple:hover {
    cursor: pointer;
}

.games-list {
    margin-top: 50px;
    height: 200px;
    text-align: center;
    background-image: url("../images/wood-texture.jpg");
    background-size: cover;
}

.game-cell {
    border: 5px solid black;
    width: 300px;
}

.game {
    color: white;
    text-decoration: none;
    font-size: 32px;
}
